<section class="block block--dark block--skewed-left">
  <div class="container grid grid--1x2">
    <div class="banner__content">
      <h1 class="block--heading">Cloud Hosting</h1>
      <p class="banner__tagline">
        Deploy your websites in less than 60 seconds
      </p>
      <a href="" class="btn btn--accent btn--stretched">Get started</a>
    </div>
    <div>
      <picture>
        <source
          type="image/png"
          srcset="images/banner.png 1x, images/resized/banner@2x.png 2x" />
        <img class="banner__image" src="images/banner.png" alt=""
      /></picture>
    </div>
  </div>
</section>
