<section class="block container">
  <header class="block__header">
    <h3>Starting at 9eur per month</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, magni
      necessitatibus quia ipsam sequi natus.
    </p>
  </header>
  <div class="input--search__wrapper">
    <div class="input-group">
      <input
        type="text"
        class="input"
        placeholder="Enter domain name here..."
      />
      <button class="btn btn--accent">
        <svg class="icon icon--btn">
          <use xlink:href="../images/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com 10€</span></li>
    <li><span class="badge badge--primary">.gal 10€</span></li>
    <li><span class="badge badge--primary">.gz 10€</span></li>
    <li><span class="badge badge--primary">.es 20€</span></li>
    <li><span class="badge badge--primary">.ld 5€</span></li>
    <li><span class="badge badge--primary">.lpk 5€</span></li>
  </ul>
</section>
