<section class="block block--dark block--skewed-right block-showcase">
  <header class="header">
    <h2 class="block__heading">User-Friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2 grid--1x3">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        src="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        src="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
              qui a omnis.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
              qui a omnis.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
              qui a omnis.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
